{% extends "layouts/base.html" %}

{% block title %} UI Avatars {% endblock %} 


Specific Page JS goes HERE 
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
</script>
<body>
	<iframe src="https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html"    frameborder="0" width="1000" height="1000" allow="microphone;camera;midi;encrypted-media;"></iframe>

<!-- <iframe width="100%" src="https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html" 
align="right" height="6000" id="win" name="win" onload="Javascript:SetWinHeight(this)" 
frameborder="0" scrolling="yes"allow="microphone;camera;midi;encrypted-media;"></iframe> -->
</body>
</html>

{% endblock javascripts %}
